<div class="cookie-box notnavtext">
    <i class="fas fa-cookie fa-3x"></i>
    <div class="cookie-content">
      <header>Cookies Consent</header>
      <p>Cookies are collected by Google Analytics for Google Analytics. We use them to see information about our website visitors and to adjust our website to fit the needs of our users.</p>
      <div class="cookie-btns">
        <button class="c-item">I understand</button>
        <a href="https://psychops.tk/legal.php#collected" class="c-item">Learn more</a>
      </div>
    </div>
</div>
<script>
    const cookieBox = document.querySelector(".cookie-box"),
    acceptBtn = cookieBox.querySelector("button");
    acceptBtn.onclick = ()=>{
      // Cookies *should* last 6 months
      document.cookie = "CookieBy=PsychOps; max-age="+180*24*60*60;
      if(document.cookie){
        cookieBox.classList.add("hide");
      }else{
        alert("Cookie can't be set because of your current browser settings. Please note that Google Analytics will still track the website's information.");
      }
    }
    let checkCookie = document.cookie.indexOf("CookieBy=PsychOps");
    checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide");
  </script>
