<script>
    $(document).ready(function(){
        $(".dropdown").hover(function(){
          var dropdownMenu = $(this).children(".dropdown-menu");
          if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
          }
        });

        // Dark/Light mode workings
        let lightmode = localStorage.getItem("lightmode") === "true";
        if (lightmode === null) {
            localStorage.setItem("lightmode", false)
            lightmode = false
        }
        if(lightmode) {
          $("body").addClass("lightmode")
          $(".lightmode-switch").removeClass("fa-moon").addClass("fa-sun")
        }
        else {
          $("body").removeClass("lightmode")
          $(".lightmode-switch").removeClass("fa-sun").addClass("fa-moon")
        }

        $(".lightmode-switch").click(function (){
            if(lightmode){
                localStorage.setItem("lightmode", false)
                lightmode = false
                $("body").removeClass("lightmode")
                $(".lightmode-switch").removeClass("fa-sun").addClass("fa-moon")
            } else {
                localStorage.setItem("lightmode", true)
                lightmode = true
                $("body").addClass("lightmode")
                $(".lightmode-switch").removeClass("fa-moon").addClass("fa-sun")
            }
        })
  });
</script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/PsychOpsTransparentPlaceholder.png" alt="" height="25">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index.php">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown-organization" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Organization
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/privacy.php">Privacy</a>
          <a class="dropdown-item" href="/legal.php">Legal</a>
          <a class="dropdown-item" href="/team.php">Team</a>
          <a class="dropdown-item" href="/positions.php">Jobs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/associates.php">Associates</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-projects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pingernos.php">Pingernos</a>
        </div>
      </li>
    </ul>
    <a>
      <i class="fas fa-solid fa-moon fa-2x lightmode-switch" style="color: var(--color-light)"></i>
    </a>
    <a href="https://github.com/PsychOps" target="_blank">
      <i class="fab fa-github fa-2x" style="color: var(--color-light)"></i>
    </a>
  </div>
</nav>
