<!--
<script>
    $(document).ready(function(){
        $(".dropdown").hover(function(){
          var dropdownMenu = $(this).children(".dropdown-menu");
          if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
          }
        });

        // Dark/Light mode workings
        let lightmode = localStorage.getItem("lightmode") === "true";
        if (lightmode === null) {
            localStorage.setItem("lightmode", false)
            lightmode = false
        }
        if(lightmode) {
          $("body").addClass("lightmode")
          $(".lightmode-switch").removeClass("fa-sun").addClass("fa-moon")
        }
        else {
          $("body").removeClass("lightmode")
          $(".lightmode-switch").removeClass("fa-moon").addClass("fa-sun")
        }

        $(".lightmode-switch").click(function (){
            if(lightmode){
                localStorage.setItem("lightmode", false)
                lightmode = false
                $("body").removeClass("lightmode")
                $(".lightmode-switch").removeClass("fa-moon").addClass("fa-sun")
            } else {
                localStorage.setItem("lightmode", true)
                lightmode = true
                $("body").addClass("lightmode")
                $(".lightmode-switch").removeClass("fa-sun").addClass("fa-moon")
            }
        })
  });
</script>

Needs this button class:
      <i class="fas fa-solid fa-moon fa-2x lightmode-switch" style="color: var(--color-light)"></i>

-->

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>