@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --font-main: "Play", sans-serif;
    --font-mono: "Space Mono", monospace;
    --bold: 600;
    --extra-bold: 800;

    --color-dark: #0f0f0f;
    --color-light: #ffffff;
    --color-main: #19ba19;
    --color-danger: #f91c1c;
    --color-success: var(--color-main);
    --color-warn: #f97f12;
    --color-loading: #4c4c4c;

    --color-dark-hover: #1f1f1f;
    --color-dark-text: #b5b5b5;
    --color-dark-mark: #3f3f3f;
}