@import url(variables.css);

.cookie-box {
    position: fixed;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: var(--color-dark-mark);
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
}

.cookie-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

::selection {
    color: #fff;
    background: #FCBA7F;
}

.fa-cookie {
    color: #FCBA7F;
}

.cookie-content header {
    font-size: 25px;
    font-weight: 600;
}

.cookie-content {
    margin-top: 10px;
}

.cookie-content p {
    color: #fff;
    margin: 5px 0 20px 0;
}

.cookie-content .cookie-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cookie-btns button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #FCBA7F;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cookie-btns button:hover {
    transform: scale(0.97);
}

.cookie-btns .c-item {
    margin: 0 10px;
}

.cookie-btns a {
    color: #FCBA7F;
}