@import "variables.css";

.notnavtext {
    margin-left: 300px;
    margin-right: 50px;
    /*margin-top: 10px;*/
}

.btn-outline-light:hover {
    background-color: var(--color-light);
    color: var(--color-dark-hover);
    border-color: var(--color-dark);
}

.btn {
    margin: 5px;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .notnavtext {
        margin: 0;
    }
}

.pingernos-img {
    width: 15em;
    height: 15em;
}