@import "variables.css";

body {
    background-color: var(--color-dark);
    font-family: "Play", sans-serif;
    color: var(--color-light)
}

hr {
    color: var(--color-light);
    background-color: var(--color-light);
}

.notnavtext {
    margin-left: 300px;
    margin-right: 50px;
    /*margin-top: 10px;*/
}

.btn-outline-light:hover {
    background-color: var(--color-light);
    color: var(--color-dark-hover);
    border-color: var(--color-dark);
}

.btn {
    margin: 5px;
    margin-top: 0;
    border: none;
    display: inline-block;
}

.btn-rounded {
    border-radius: 25px;
}

.txt-white {
    color: var(--color-light)
}

.bg-green {
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: bolder;
}

@media only screen and (max-width: 768px) {
    .notnavtext {
        margin: 0;
    }
}

.pingernos-img {
    width: 15em;
    height: 15em;
    padding-bottom: 20px;
}