@import "variables.css";

.notnavtext {
    margin-left: 300px;
    margin-right: 50px;
    /*margin-top: 10px;*/
}

.btn-outline-light:hover {
    background-color: var(--color-light);
    color: var(--color-dark-hover);
    border-color: var(--color-dark);
}