@import "variables.css";

.sectionstart {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    float: right;
    position: relative;
    background-color: var(--color-dark-hover);
    margin-right: 300px;
    margin-left: 150px;
    padding-right: 30px;
    padding-left: 10px;
    border-style: solid;
    border-color: var(--color-dark-mark);
    border-radius: 5px;
    box-shadow: -0.5em -0.5em 1em var(--color-loading);
}

.textend {
    margin-right: 800px;
}

@media only screen and (max-width: 768px) {
    .content {
        position: initial;
        float: initial;
        margin: initial;
    }

    .textend {
        margin-right: initial;
    }
}