@import url(/assets/css/variables.css);

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main);
    color: var(--txt);
    font-size: 1rem;
    font-family: 'Play', sans-serif;
}

.home, .about {
    font-family: 'Play', sans-serif;
}

.home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%;
}

.main-title {
    margin-top: 3vh;
    font-weight: bold;
}

.main-text {
    font-size: 3vh;
    font-weight: 300;
    margin-top: 3vh;
}

.txt-btn {
    background-color: #2b2d2f;
    color: white;
    padding: 15px 25px;
    font-size: 2vh;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
}

.txt-btn:hover {
    color: #56fee1;
    background-color: hsla(0, 0%, 0%, 0.95);
    transition: 0.2s;
}

.txt-btn-div {
    margin-top: 5vh;
}

.txta {
    text-decoration: none;
}

.subtext {
    font-size: 2vh;
    font-weight: 300;
    margin-top: 10vh;
}