@import url(/assets/css/variables.css);

/*try to unbreak main.css*/

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main);
    color: var(--txt);
    font-size: 1rem;
    font-family: 'Play', sans-serif;
}

.blackground {
    background: var(--main-black);
    color: var(--main);
    padding: 2rem;
}

.whiteground {
    background: var(--main);
    color: var(--main-black);
    padding: 2rem;
}

.page-center {
    padding: 70px 0;
    text-align: center;
}

.box {
    border-style: groove;
    border-radius: 15px;
    border-color: black;
    /*margin: 20px;*/
    padding: 10px;
}

.list-success .entry, .list .entry.entry-success {
    background-color: var(--success);
    color: var(--main-black);
}

.list-danger .entry, .list .entry.entry-danger {
    background-color: var(--danger);
    color: var(--main-black);
}

.list-info .entry, .list .entry.entry-info {
    background-color: var(--information);
    color: var(--main-black);
}

.list .entry {
    width: 50%;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 2px;
    padding: 8px 16px;
}

.accordion-button {
    position: unset;
}

.home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%;
}

.pingernos-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 25%;
}

.main-title {
    margin-top: 3vh;
    font-weight: bold;
    font-size: 5vh;
}

.main-text {
    font-size: 2.25vh;
    font-weight: 300;
    margin-top: 3vh;
}

.txt-btn {
    background-color: #2b2d2f;
    color: white;
    padding: 15px 25px;
    font-size: 2vh;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
}

.txt-btn:hover {
    color: #56fee1;
    background-color: hsla(0, 0%, 0%, 0.95);
    transition: 0.2s;
}

.txt-btn-div {
    margin-top: 5vh;
}

.txta {
    text-decoration: none;
}

.subtext {
    font-size: 2vh;
    font-weight: 300;
    margin-top: 10vh;
}

.subtext-2 {
    font-size: 2vh;
    font-weight: 300;
    margin-top: 3vh;
}

.subtext-3 {
    font-size: 2vh;
    font-weight: 300;
}

.page-center {
    padding: 70px 0;
    text-align: center;
}

.box {
    border-style: groove;
    border-radius: 15px;
    border-color: black;
    /*margin: 20px;*/
    padding: 10px;
}

.accordion-button {
    position: unset;
}

.team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member {
    flex: 1 1 250px;
    margin: 50px;
    text-align: center;
    padding: 20px 10px;
    max-width: 300px;
    transition: all 0.3s;
}

.member img {
    display: block;
    width: 275px; height: 275px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.owner {
    border:4px solid var(--owner);
}

.executive {
    border:4px solid var(--executive);
}

.project-manager {
    border:4px solid var(--project);
}

.team-dev {
    border:4px solid var(--team);
}

.social-manager {
    border:4px solid var(--social);
}

.graphic-designer {
    border:4px solid var(--graphic);
}

.member h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--header);
    margin: 15px 0;
}

.member p {
    font-size: 20px;
    color: var(--txt);
    text-transform: uppercase;
    line-height: 1.6;
}

.commands {
    margin-left: 7.5vh;
}

.dotted {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.double-btn {
    margin-right: 10vh;
    margin-left: 10vh;
}