@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Play&display=swap');

:root {
    box-sizing: border-box;

    --main: #dddddd;
    --main-black: black;

    --txt: #333;

    /*Header*/
    --header: #2b2d2f;
    --header-hover: #56fee1;
    --header-txt-bg: black;
    --header-txt: white;
    --header-bg: var(--header);

    /*Team Colors*/
    --owner: #a020f0;
    --executive: #b90d63;
    --project: #f1ec66;
    --team: #19ba19;
    --social: #127abd;
    --graphic: #ffb3ec;

    /*Status Colors*/
    --success: #02e652;
    --information: #56fee1;
    --danger: #dd2121;
}